/Board/build/
/TestWars/nbproject/private/
/TestWars/build/
/LangWars_Demo1/nbproject/private/
/LangWars_Demo2/nbproject/private/
/LangWars_Demo2/build/
/LangWars_Demo2/dist/
/Lang.Wars_MidtermDemo/dist/
/LangWars_Demo3/nbproject/private/
/LangWars_Demo3/build/
/Lang.Wars_JakeDemo/build/
/Lang.Wars_Demo4/nbproject/private/
/LangWars_Demo4/nbproject/private/
/LangWars_Demo4/build/
/LangWars_Demo4/dist/